# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
csci2440/include/site/python3.9/pygame/pgopengl.h
csci2440/bin/activate
csci2440/bin/activate.csh
csci2440/bin/activate.fish
csci2440/bin/Activate.ps1
csci2440/bin/f2py
csci2440/bin/fonttools
csci2440/bin/numpy-config
csci2440/bin/pip
csci2440/bin/pip3
csci2440/bin/pip3.9
csci2440/bin/pyftmerge
csci2440/bin/pyftsubset
csci2440/bin/python
csci2440/bin/python3
csci2440/bin/python3.9
csci2440/bin/tqdm
csci2440/bin/ttx
csci2440/include/site/python3.9/pygame/_blit_info.h
csci2440/include/site/python3.9/pygame/_camera.h
csci2440/include/site/python3.9/pygame/_pygame.h
csci2440/include/site/python3.9/pygame/_surface.h
csci2440/include/site/python3.9/pygame/camera.h
csci2440/include/site/python3.9/pygame/font.h
csci2440/include/site/python3.9/pygame/freetype.h
csci2440/include/site/python3.9/pygame/include/_pygame.h
csci2440/include/site/python3.9/pygame/include/bitmask.h
csci2440/include/site/python3.9/pygame/include/pgcompat.h
csci2440/include/site/python3.9/pygame/include/pgimport.h
csci2440/include/site/python3.9/pygame/include/pgplatform.h
csci2440/include/site/python3.9/pygame/include/pygame.h
csci2440/include/site/python3.9/pygame/include/pygame_bufferproxy.h
csci2440/include/site/python3.9/pygame/include/pygame_font.h
csci2440/include/site/python3.9/pygame/include/pygame_freetype.h
csci2440/include/site/python3.9/pygame/include/pygame_mask.h
csci2440/include/site/python3.9/pygame/include/pygame_mixer.h
csci2440/include/site/python3.9/pygame/include/sse2neon.h
csci2440/include/site/python3.9/pygame/mask.h
csci2440/include/site/python3.9/pygame/mixer.h
csci2440/include/site/python3.9/pygame/palette.h
csci2440/include/site/python3.9/pygame/pgarrinter.h
csci2440/include/site/python3.9/pygame/pgbufferproxy.h
csci2440/include/site/python3.9/pygame/pgcompat.h
csci2440/include/site/python3.9/pygame/pgplatform.h
csci2440/include/site/python3.9/pygame/pygame.h
csci2440/include/site/python3.9/pygame/scrap.h
csci2440/include/site/python3.9/pygame/simd_blitters.h
csci2440/include/site/python3.9/pygame/surface.h
csci2440/pyvenv.cfg
csci2440/share/man/man1/ttx.1
.DS_Store
